<%- include("partials/header") -%>

<div class="containerTop">
  <h1>Shop Your Designer Dresses</h1>
  <p>Ready to wear dresses taillored for you from online. Hurry up while stock lasts.</p>
  <form action="" class="search">
    <input type="text" class="searchText" placeholder="ex: nike T-shirt ..." />
    <button class="searchBtn">Search <img class="searchIcon" src="/image/icon/loupe.png" alt="" /></button>
  </form>
</div>
</section>
<section id="feature">
  <div class="item">
    <div class="top">
      <div class="content">
        <h2>Coupon Savings</h2>
        <p>Up to 60% off everyday essentials</p>
      </div>
      <img src="/image/icon/icons8-coupon-100.png" alt="" />
    </div>
    <a href="#">Shop Coupon</a>
  </div>
  <div class="item">
    <div class="top">
      <div class="content">
        <h2>Free Delivery</h2>
        <p>With selected items</p>
      </div>
      <img src="/image/icon/checked-truck.png" alt="" />
    </div>
    <a href="#">Delivery Now</a>
  </div>
  <div class="item">
    <div class="top">
      <div class="content">
        <h2>Gift Voucher</h2>
        <p>With personal card items</p>
      </div>
      <img src="/image/icon/gift--v1.png" alt="" />
    </div>
    <a href="#">Gift Now</a>
  </div>
</section>
<hr />
<section id="products">
  <div class="category">
    <a href="#" class="catElement">
      <img src="/image/icon/icon_laptop.png" alt="" />
      Electronics
    </a>
    <a href="#" class="catElement">
      <img src="/image/icon/icon_bag-front-view.png" alt="" />
      Hand Bags
    </a>
    <a href="#" class="catElement">
      <img src="/image/icon/icon_wallet.png" alt="" />
      Wallet
    </a>
    <a href="#" class="catElement active">
      <img src="/image/icon/icon_clothes.png" alt="" />
      Clothes
    </a>
  </div>
  <div class="proElement">
    <% products.forEach(product => { %>
      <div class="proItem">
        <div class="product" style="background-image: url(/image/products/man.jpg)">
          <div class="blur"></div>
          <span><%= product.promotion*100 %>%</span>
          <a href="/quickview/<%= product._id %>">Quick View</a>
        </div>
        <h4><%= product.productName %></h4>
        <% if(product.promotion === 0){ %>
          <p class="price"><span class="normal">$<%= product.pricePerProduct %></span></p>
        <% }else{ %>
          <p class="price">
            <span class="normal" style="text-decoration: solid line-through 2px;">$<%= product.pricePerProduct %></span>
            <span class="discount">$<%= (product.pricePerProduct*product.promotion).toFixed(2)  %></span>
          </p>
        <% } %>
      </div>
    <% }) %>
  </div>
</section>

<%- include("partials/footer") -%>
